#container{
    background-color: #f4acb7;
    width: 700px;
    display: flex;
    flex-direction: column;
    align-self: center;
    heigth: 700px;
    margin-bottom: 20px;
    padding:10px;
}


.divs{
    background-color: #f5e6e8;
    border-color: #967AA1;
    border-style: dashed;
    border-width: 2px;
    display: flex;
    margin:0;
    padding:0;
    gap:0;
    height: 40px;
    width: 40px;
}

.rows{
    display: flex;
    flex-direction: row;
    margin:0;
    padding:0;
    gap:0;
}

body{
    display: flex;
    flex-direction: column;
    margin: 5px;
}
h1{
    color: #192A51;
    align-self: center;
}

button{
    width: 200px;
    background-color: #b5838d;
    border-radius: 5px;
    align-self: center;
    margin-bottom: 20px;
    padding: 5px;
    color: white;
    font-size: 24px;
    border-color: #967AA1;
}